body {
    margin-top: 66px;
    background-color: rgb(255, 255, 255);
}

#main-header {
    background-color: #6ce2a7;
    background-image:  url("../images/background.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    padding-top: 8rem;
    padding-bottom: 8rem;
}

#main-header #main-logo {
    width: 800px;
}

.bg-dark-transparent {
    background-color: rgba(18, 18, 18, 0.6);

}

.card {
    border-radius: 0px;
}

main { 
    margin-top: -40px;
    margin-bottom: 40px;
}

p {
    font-size: 1.2rem;
}

h2 {
    font-weight: 100;
    letter-spacing: 1.4px;
}

footer {
    background-color: #6ce2a7 !important;
}